* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin-top: 10px;
  background-color: #6a3f0d;
}

h1 {
  color: rgb(65, 65, 65);
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  background-color: transparent;
  text-align: center;
  margin: 10px 0;
}

/*    Logo     */

.app-toDoList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-logo {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*    To Do List    */

.container-list {
  width: 600px;
  min-height: 500px;
  background-color: rgb(245, 227, 141);
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
}
